/* For screen */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'League Spartan', sans-serif; 
}

/* For nav bar line */
#header{
    font-weight: 400;
    display: flex;
    align-items: center;
    background-color: #343333;
    height: 6rem;
    width: 100%;
}

/* For nav bar writings */
#content{
    margin-left: 12rem;
    align-items: center;
    justify-content: space-between; 
    font-size: larger;
    background-color: transparent;  
}
#content ul{
    list-style: none;
    display: flex;
    height: auto;
}

#content ul li{
    font-size: 2.2rem ;
    text-decoration: none;
    color: #AFAFAF;
    margin: 2rem 2.5rem 2rem 2.5rem;
}

#content ul li a{
    text-decoration: none;
    color: #AFAFAF;

}

#content ul li a:hover{
    color: #EE6161;
    cursor: pointer;
}

/* For logo */

#logo{
    height: 6.1rem;
    width: 14rem;
    background-color: transparent;
}

/* for main picture */

#mainpicture{
    height: 606px;
    width: 100vw;
}

#writings{
    display: flex;
    flex-direction: column;
}

#courses{
    text-decoration: underline;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 3rem; 
}
#hear{
    text-align: center;
    padding-top: 1rem;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

#testimony{
    padding: 1rem 6rem 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#displaypic{
    height: 8rem;
    width: 8rem;
    background-color: transparent;
}

#name{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#testimonywriting{
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 3rem;
}

.footer{
    margin-top: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(166, 166, 166);
}
.links{
    width: 100vw;
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
.QuickLinks p{
    font-size: 1.2em;
}
.find-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-us p, #quick-links{
    font-size: 1.5em;
    padding:0;
}
.QuickLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    margin: .8em;
}
.QuickLinks p{
    padding: .2em;
}
.copyright{
    margin-top: 2em;
}


.about{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about-title{
    font-size: 2.2em;
    font-weight:600;
}
.text-container{
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:0 5em 0 5em;
    font-size: 1.3em;;
}





.enroll{
    padding:0.2em;
    font-size: 1.3em;
    margin-bottom: .8em;
    border-bottom: 2px solid black;
}

.all-courses{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course1, .course2{
    width: 100vw;
}
.all-courses p{
    font-size: 2.1em;
}












.cards{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
}
.card-box{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.card-box img{
    transition: transform .4s;
    cursor: pointer;
    border-radius: 8px;
    width:18em;
    height: 15em;
    object-fit: fill;
}
.card-box p{
    transition: all ease 0.4s;
    z-index: 1;
    font-size: 1.3em;
    margin-top: -2.9em;
}
.card-box:hover img{
    transform: scale(1.2);
    transform-origin: 50% 50%;
    opacity: 0.5;
}
.card-box:hover p{
font-size: 1.5em;
margin-top: -2.8em;
}

#elements{
    display: flex;
}

#contactus{
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 2rem 2rem 5rem;
}
.input-box input, .input-box textarea{
    width:220px;
}
#message-box{
    display: flex;
    justify-items:flex-start;
    height: 80px;
}


